.card {
  width: 100%;
  padding-top: 56px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 28.5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 33.5px;
  transition: $defaultTransitionTime;
  border-radius: 15.998px;
  background: $white;
  box-shadow: 0px 0px 24px 0px rgba(159, 0, 86, 0.12);
  &:hover {
    transform: scale(1.05);
  }
  &__img {
    height: 131px;
    object-fit: contain;
    object-position: center;
  }
  &__text {
    color: $black;
    text-align: center;
    font-family: $mainFont;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }
}
