.form {
  width: 100%;
  max-width: 422px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  gap: 32px;
  &__label {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    gap: 8px;
    font-size: 14px;
  }

  &__input {
    width: 100%;
    max-width: 422px;
    padding: 10px 12px;
    border-radius: 12px;
    border: 1px solid $darkGray;
    background: $bgColor;
    transition: $defaultTransitionTime;
    font-family: $mainFont;
    font-size: 19.048px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    &:focus {
      outline: none;
      box-shadow: 0px 0px 15px rgba($color: #000000, $alpha: 0.2);
    }
  }
  &__btn {
    max-width: unset;
  }
  &__subtext {
    text-align: center;
    margin-top: 12px;
    color: $dark;
    text-align: center;
    font-family: $mainFont;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    a {
      color: $black;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-decoration-line: underline;
      transition: $defaultTransitionTime;
      &:hover {
        text-decoration-color: transparent;
      }
    }
  }
  @media (max-width: 768px) {
    &__label {
      font-size: 12px;
    }
  }
}
