.subheading {
  color: $black;
  font-family: $mainFont;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  span {
    color: $accent;
  }
  @media (max-width: 768px) {
    font-size: 28px;
  }
}
