.agency-section {
  &__wrapper {
    justify-content: end;
    padding-top: 154.5px;
    padding-bottom: 184.5px;
    background-image: url('../assets/img/agencies-bg.png');
    background-repeat: no-repeat;
    background-position: left center;
  }

  &__content {
    max-width: 402px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    gap: 32px;
  }

  &__heading {
    font-size: 32px;
  }

  &__list {
    @extend .features-section__list;
  }

  &__subtext {
    @extend .features-section__subtext;
  }
  @media (max-width: 960px) {
    &__wrapper {
      padding-top: 64px;
      background-size: 40%;
    }
  }
  @media (max-width: 768px) {
    &__wrapper {
      justify-content: center;
      padding-bottom: 440px;
      background-position: bottom 32px center;
    }
  }
  @media (max-width: 675px) {
    &__wrapper {
      padding-bottom: 270px;
    }
  }
}
