.goal-section {
  &__wrapper {
    padding-top: 214.5px;
    padding-bottom: 214.5px;
    background-image: url('../assets/svg/platform-bg.svg');
    background-repeat: no-repeat;
    background-position: right 202px center;
  }

  &__content {
    max-width: 503px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    gap: 16px;
  }

  &__heading {
  }

  &__text {
  }
  @media (max-width: 960px) {
    &__wrapper {
      background-position: right 65px center;
    }
  }
  @media (max-width: 675px) {
    &__wrapper {
      padding-top: 64px;
      padding-bottom: 480px;
      background-position: bottom center;
      align-items: center;
      justify-content: center;
    }
    &__content {
      align-items: center;
      justify-content: center;
      text-align: center;
    }
  }
}
