.matter-section {
  &__wrapper {
    padding-top: 256px;
    padding-bottom: 256px;
    align-items: center;
    justify-content: start;
    background-image: url('../assets/img/matter-bg.png');
    background-repeat: no-repeat;
    background-position: right 152px center;
  }

  &__content {
    max-width: 383px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    gap: 16px;
  }

  &__text {
    max-width: 320px;
  }

  @media (max-width: 960px) {
    &__wrapper {
      background-position: right 32px center;
      background-size: 48%;
    }
  }
  @media (max-width: 768px) {
    &__wrapper {
      background-position: right center;
      background-size: 36%;
    }
  }
  @media (max-width: 675px) {
    &__wrapper {
      padding-top: 67px;
      padding-bottom: 365px;
      justify-content: center;
      background-position: bottom center;
      background-size: 50%;
    }
  }
}
