.promo-section {
  width: 100%;
  background-image: $ltGradient;

  &__wrapper {
    padding-top: 99.5px;
    padding-bottom: 98.5px;
    background-repeat: no-repeat;
    background-image: url('../assets/svg/promo-bg.svg');
    background-position: top 36px right 169px;
  }

  &__content {
    max-width: 540px;
  }

  &__heading {
    margin-bottom: 16px;
  }

  &__description {
    max-width: 379px;
    margin-bottom: 32px;
  }

  &__subtext {
    text-align: center;
    max-width: 422px;
    color: $dark;
    text-align: center;
    font-family: $mainFont;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    a {
      color: $black;
      // font-family: SF Pro Text;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-decoration-line: underline;
      text-decoration-color: $black;
      transition: $defaultTransitionTime;
      &:hover {
        text-decoration-color: transparent;
      }
    }
  }

  @media (max-width: 960px) {
    &__wrapper {
      background-position: top 36px right 27px;
    }
  }

  @media (max-width: 768px) {
    &__content {
      max-width: 438px;
    }
  }
  @media (max-width: 625px) {
    &__wrapper {
      padding-top: 506px;
      background-position: top 64px center;
      background-size: 189px;
      justify-content: center;
    }
    &__content {
      text-align: center;
    }
  }
  @media (max-width: 475px) {
    &__wrapper {
      // padding-top: 433px;
      // background-position: top 17px center;
      background-size: 189px;
      justify-content: center;
    }
  }
}
