.solve-section {
  padding-top: 207.5px;
  padding-bottom: 174.5px;
  background-color: #f6f8fa;
  background-image: url('../assets/img/problems-bg.png');
  background-repeat: no-repeat;
  background-position: right 42px center;
  &__content {
    max-width: 566px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    gap: 16px;
  }

  &__heading {
    font-size: 32px;
  }
  @media (max-width: 1280px) {
    padding-top: 64px;
    padding-bottom: 460px;
    background-position: bottom 32px center;
    &__wrapper {
      align-items: center;
      justify-content: center;
    }
  }
  @media (max-width: 768px) {
    background-size: 80%;
  }
  @media (max-width: 675px) {
    padding-bottom: 400px;
    // background-size: contain;
    &__content {
      text-align: center;
    }
  }
  @media (max-width: 475px) {
    padding-bottom: 280px;
  }
}
