.solve-section {
  padding-top: 207.5px;
  padding-bottom: 174.5px;
  background-color: #f6f8fa;
  background-image: url('../assets/img/problems-bg.png');
  background-repeat: no-repeat;
  background-position: right 42px center;
  &__content {
    max-width: 566px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    gap: 16px;
  }

  &__heading {
    font-size: 32px;
  }
}
