$mainFont: 'Inter', sans-serif;

$wrapperWidth: 1180px;

$brandGradient: linear-gradient(97deg, #d64e52 22.62%, #d13b83 70.93%);
$black: #070808;
$accent: #d64e52;
$bgColor: #f6f8fa;
$ltBlack: #1f2547;
$white: #ffffff;
$ltGray: #ececf0;
$dark: #5f5f69;
$darkGray: #b4b6ba;
$gray: #e4e4e5;
$warning: #ffb822;
$ltGradient: linear-gradient(
  178deg,
  #ffe3e4 22.13%,
  rgba(255, 227, 228, 0) 93.73%
);
