@import url("../assets/fonts/Inter/stylesheet.css");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  box-sizing: border-box;
}

html,
body {
  position: relative;
  min-height: 100%;
  overflow-x: clip;
}
html.no-scroll,
body.no-scroll {
  overflow-x: unset;
  overflow: hidden;
}

body {
  font-family: "Inter", sans-serif;
  min-width: 320px;
  background-color: #ffffff;
}

.wrapper {
  width: 100%;
  height: 100%;
  max-width: 1180px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 24px;
}

.page {
  margin-top: 76px;
}

.header {
  width: 100%;
  padding: 22px 0;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;
  border-bottom: 1px solid #e4e4e5;
  background-color: #ffffff;
}
.header__mobile-btn {
  display: none;
  color: #d64e52;
  leading-trim: both;
  text-edge: cap;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: none;
  background: none;
}
.header__wrapper {
  justify-content: space-between;
}
@media (max-width: 525px) {
  .header__wrapper {
    padding: 0px 12px;
  }
}
@media (max-width: 525px) {
  .header {
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.08);
    border-bottom: none;
    padding-top: 46px;
  }
  .header__logo-link svg {
    max-width: 183px;
  }
  .header__mobile-btn {
    display: initial;
  }
  .header__lang-menu.lang-menu {
    top: 12px;
    right: 12px;
    position: absolute;
  }
}

.lang-menu {
  border-radius: 4px;
  background-color: #f6f8fa;
  cursor: pointer;
  position: relative;
}
.lang-menu:hover .lang-menu__content {
  max-height: 60px;
}
.lang-menu:hover .lang-menu__chevron {
  transform: rotate(180deg);
}
.lang-menu__header {
  padding: 4px 2px 4px 8px;
  display: flex;
  align-items: center;
  gap: 2px;
}
.lang-menu__current-lang {
  padding-left: 21px;
  color: #5f5f69;
  text-align: center;
  leading-trim: both;
  text-edge: cap;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background-size: contain;
  background-position: left center;
  background-repeat: no-repeat;
  background-position: left 0 top 1px;
}
.lang-menu__current-lang_en {
  background-image: url("../../assets/svg/english.svg");
}
.lang-menu__chevron {
  transition: 0.23s;
}
.lang-menu__content {
  position: absolute;
  max-height: 0px;
  overflow: hidden;
  width: 100%;
  transition: 0.23s;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f6f8fa;
}
.lang-menu__content-item {
  width: 100%;
  padding: 6px;
  padding-right: 0;
  padding-left: 6px;
  color: #5f5f69;
  text-align: center;
  leading-trim: both;
  text-edge: cap;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background-size: 17px;
  background-position: left 8px center;
  background-repeat: no-repeat;
  transition: 0.23s;
  border-bottom: 1px solid #e4e4e5;
  cursor: pointer;
}
.lang-menu__content-item:hover {
  background-color: #e4e4e5;
}
.lang-menu__content-item_en {
  background-image: url("../../assets/svg/english.svg");
}

.btn {
  display: inline-block;
  padding: 19px;
  width: 100%;
  max-width: 339px;
  color: #ffffff;
  leading-trim: both;
  text-edge: cap;
  font-family: "Inter", sans-serif;
  font-size: 19.048px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: none;
  border-radius: 83.333px;
  background: linear-gradient(97deg, #d64e52 22.62%, #d13b83 70.93%);
  transition: 0.23s;
  cursor: pointer;
}
.btn:hover {
  transform: scale(1.025);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}
.btn:active {
  transform: scale(0.97);
}
.btn_white {
  background: #ffffff;
  color: #d64e52;
}
@media (max-width: 768px) {
  .btn {
    font-size: 18px;
  }
}

.form {
  width: 100%;
  max-width: 422px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  gap: 32px;
}
.form__label {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  gap: 8px;
  font-size: 14px;
}
.form__input {
  width: 100%;
  max-width: 422px;
  padding: 10px 12px;
  border-radius: 12px;
  border: 1px solid #b4b6ba;
  background: #f6f8fa;
  transition: 0.23s;
  font-family: "Inter", sans-serif;
  font-size: 19.048px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.form__input:focus {
  outline: none;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}
.form__btn {
  max-width: unset;
}
.form__subtext {
  text-align: center;
  margin-top: 12px;
  color: #5f5f69;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.form__subtext a {
  color: #070808;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
  transition: 0.23s;
}
.form__subtext a:hover {
  text-decoration-color: transparent;
}
@media (max-width: 768px) {
  .form__label {
    font-size: 12px;
  }
}

.subheading {
  color: #070808;
  font-family: "Inter", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.subheading span {
  color: #d64e52;
}
@media (max-width: 768px) {
  .subheading {
    font-size: 28px;
  }
}

.heading {
  color: #070808;
  font-family: "Inter", sans-serif;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.heading span {
  color: #d64e52;
  font-family: "Inter", sans-serif;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
@media (max-width: 768px) {
  .heading {
    font-size: 32px;
  }
  .heading span {
    font-size: inherit;
  }
}
@media (max-width: 525px) {
  .heading {
    font-size: 24px;
  }
}

.card {
  width: 100%;
  padding-top: 56px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 28.5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 33.5px;
  transition: 0.23s;
  border-radius: 15.998px;
  background: #ffffff;
  box-shadow: 0px 0px 24px 0px rgba(159, 0, 86, 0.12);
}
.card:hover {
  transform: scale(1.05);
}
.card__img {
  height: 131px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}
.card__text {
  color: #070808;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.reviews-card {
  width: 100%;
  max-width: 830px;
  padding: 24px 32px;
  border-radius: 12px;
  background: #ffffff;
}
.reviews-card__heading {
  margin-bottom: 24px;
  background: linear-gradient(97deg, #d64e52 22.62%, #d13b83 70.93%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  leading-trim: both;
  text-edge: cap;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.reviews-card__body {
  padding: 8px 8px 8px 24px;
  border-left: 2px solid #d64e52;
}
.reviews-card__body p {
  color: #070808;
  leading-trim: both;
  text-edge: cap;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
@media (max-width: 960px) {
  .reviews-card {
    max-width: 540px;
  }
}

.feature-card {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 16px 24px;
  border-radius: 12px;
  background: #ffffff;
  box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.12);
}
.feature-card__text {
  color: #070808;
  leading-trim: both;
  text-edge: cap;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.text {
  color: #070808;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.text span,
.text a {
  color: #d64e52;
}
.text a {
  text-decoration: underline;
  transition: 0.23s;
}
.text a:hover {
  text-decoration-color: transparent;
}
@media (max-width: 768px) {
  .text {
    font-size: 20px;
  }
}

.accordion {
  width: 100%;
  cursor: pointer;
  transition: 0.23s;
  border-bottom: 1px solid #ececf0;
}
.accordion:active {
  transform: scale(0.96);
}
.accordion.active .accordion__icon {
  transform: rotate(45deg);
}
.accordion.active .accordion__content {
  visibility: visible;
  opacity: 1;
  padding: 16px;
}
.accordion__header {
  width: 100%;
  padding-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.accordion__heading {
  color: #1f2547;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.accordion__icon {
  transition: 0.23s;
}
.accordion__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  gap: 16px;
  transition: 0.23s;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  max-height: 0px;
}
.accordion__text {
  font-size: 16px;
}

.popup {
  position: relative;
  width: 100%;
  max-width: 495px;
  margin: auto;
  border-radius: 12px;
  background: #ffffff;
  padding: 42px 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateY(-100%);
  opacity: 0;
  visibility: hidden;
}
.popup.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0%);
}
.popup__close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  transition: 0.23s;
}
.popup__close-btn:active {
  transform: scale(0.95);
}
.popup__logo {
  margin-bottom: 32px;
}
.popup__heading {
  text-align: center;
  margin-bottom: 16px;
}
.popup__text {
  margin-bottom: 42px;
  text-align: center;
  font-size: 20px;
  font-weight: 300;
  max-width: 260px;
}

.promo-section {
  width: 100%;
  background-image: linear-gradient(160deg, #ffe3e4 0%, rgba(255, 227, 228, 0) 50%);
}
.promo-section__wrapper {
  padding-top: 99.5px;
  padding-bottom: 98.5px;
  background-repeat: no-repeat;
  background-image: url("../assets/svg/promo-bg.svg");
  background-position: top 36px right 169px;
}
.promo-section__content {
  max-width: 540px;
}
.promo-section__heading {
  margin-bottom: 16px;
}
.promo-section__description {
  max-width: 379px;
  margin-bottom: 32px;
}
.promo-section__subtext {
  text-align: center;
  max-width: 422px;
  color: #5f5f69;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.promo-section__subtext a {
  color: #070808;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
  text-decoration-color: #070808;
  transition: 0.23s;
}
.promo-section__subtext a:hover {
  text-decoration-color: transparent;
}
@media (max-width: 960px) {
  .promo-section__wrapper {
    background-position: top 36px right 27px;
  }
}
@media (max-width: 768px) {
  .promo-section__content {
    max-width: 438px;
  }
}
@media (max-width: 625px) {
  .promo-section__wrapper {
    padding-top: 506px;
    background-position: top 64px center;
    background-size: 189px;
    justify-content: center;
  }
  .promo-section__content {
    text-align: center;
  }
}
@media (max-width: 475px) {
  .promo-section__wrapper {
    padding-top: 433px;
    background-position: top 17px center;
    background-size: 189px;
    justify-content: center;
  }
}

.adv-section__wrapper {
  align-items: center;
  justify-content: end;
  padding-top: 77px;
  padding-bottom: 66px;
  background-image: url("../assets/svg/first-bg.svg");
  background-repeat: no-repeat;
  background-position: left 25px center;
}
.adv-section__content {
  max-width: 713px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  gap: 24px;
}
@media (max-width: 1120px) {
  .adv-section__wrapper {
    padding-top: 270px;
    align-items: center;
    justify-content: center;
    background-position: top center;
  }
  .adv-section__content {
    align-items: center;
    text-align: center;
  }
}

.cards-section__wrapper {
  padding-top: 42px;
  padding-bottom: 100px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cards-section__subtext {
  max-width: 582px;
  text-align: center;
  margin-bottom: 32px;
  color: #070808;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.cards-section__heading {
  margin-bottom: 64px;
  max-width: 582px;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.cards-section__list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 56px;
}
@media (max-width: 768px) {
  .cards-section__list {
    justify-items: center;
    grid-template-columns: 1fr;
  }
  .cards-section__list .card {
    max-width: 360px;
  }
}

.solve-section {
  padding-top: 207.5px;
  padding-bottom: 174.5px;
  background-color: #f6f8fa;
  background-image: url("../assets/img/problems-bg.png");
  background-repeat: no-repeat;
  background-position: right 42px center;
}
.solve-section__content {
  max-width: 566px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  gap: 16px;
}
.solve-section__heading {
  font-size: 32px;
}
@media (max-width: 1280px) {
  .solve-section {
    padding-top: 64px;
    padding-bottom: 460px;
    background-position: bottom 32px center;
  }
  .solve-section__wrapper {
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 768px) {
  .solve-section {
    background-size: 80%;
  }
}
@media (max-width: 675px) {
  .solve-section {
    padding-bottom: 400px;
  }
  .solve-section__content {
    text-align: center;
  }
}
@media (max-width: 475px) {
  .solve-section {
    padding-bottom: 280px;
  }
}

.try-section {
  padding-top: 91.03px;
  padding-bottom: 83.97px;
  background: #f6f8fa;
  background-image: url("../assets/img/gradient-line.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.try-section__wrapper {
  position: relative;
  z-index: 2;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.try-section__heading {
  text-align: center;
  max-width: 603px;
  margin-bottom: 12px;
  color: #ffffff;
}
.try-section__text {
  max-width: 603px;
  margin-bottom: 32px;
  color: #ffffff;
  font-size: 24px;
  text-align: center;
  font-weight: 300;
}
@media (max-width: 768px) {
  .try-section__text {
    font-size: 20px;
  }
}
.platform-section__wrapper {
  padding-top: 160px;
  padding-bottom: 160px;
  justify-content: end;
  background-image: url("../assets/img/try-bg.png");
  background-repeat: no-repeat;
  background-position: left center;
}
.platform-section__content {
  max-width: 450px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
}
.platform-section__heading {
  max-width: 302px;
  margin-bottom: 16px;
  font-size: 32px;
}
.platform-section__text {
  max-width: 302px;
  margin-bottom: 32px;
  font-size: 24px;
}
.platform-section__btn {
  width: 100%;
  padding: 19px 66px;
  max-width: 339px;
}
@media (max-width: 960px) {
  .platform-section__wrapper {
    padding-top: 64px;
    padding-bottom: 470px;
    background-position: bottom 64px center;
    align-items: center;
    justify-content: center;
  }
  .platform-section__content {
    max-width: unset;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 675px) {
  .platform-section__wrapper {
    background-size: 85%;
  }
}
@media (max-width: 525px) {
  .platform-section__wrapper {
    padding-bottom: 370px;
  }
}

.goal-section__wrapper {
  padding-top: 214.5px;
  padding-bottom: 214.5px;
  background-image: url("../assets/svg/platform-bg.svg");
  background-repeat: no-repeat;
  background-position: right 202px center;
}
.goal-section__content {
  max-width: 503px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  gap: 16px;
}
@media (max-width: 960px) {
  .goal-section__wrapper {
    background-position: right 65px center;
  }
}
@media (max-width: 675px) {
  .goal-section__wrapper {
    padding-top: 64px;
    padding-bottom: 480px;
    background-position: bottom center;
    align-items: center;
    justify-content: center;
  }
  .goal-section__content {
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

.reviews-section {
  padding-top: 42px;
  padding-bottom: 64px;
  background-color: #f6f8fa;
}
.reviews-section__wrapper {
  max-width: 1236px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 42px;
}
.reviews-section__swiper {
  width: 100%;
  z-index: 1;
}
.reviews-section__swiper-btn {
  position: absolute;
  background: none;
  padding: 0;
  border-radius: 50%;
  border-radius: 40px;
  opacity: 0.7;
  border: none;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;
  background: #ffffff;
  box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  transition: 0.23s;
  z-index: 3;
  top: 0;
  bottom: 0;
  margin: auto;
}
.reviews-section__swiper-btn_left {
  left: 0;
  margin-left: 6px;
}
.reviews-section__swiper-btn_right {
  right: 0;
  margin-right: 6px;
}
.reviews-section__swiper-btn:hover {
  transform: scale(1.05);
}
.reviews-section__swiper-btn:active {
  transform: scale(0.95);
}
.reviews-section__swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}
.reviews-section .swiper-pagination {
  display: none;
}
@media (max-width: 475px) {
  .reviews-section__swiper-btn {
    display: none;
  }
  .reviews-section .swiper {
    padding-bottom: 52px;
  }
  .reviews-section .swiper-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
  .reviews-section .swiper-pagination-bullet {
    border-radius: 200px;
    opacity: 0.5;
    background: #d64e52;
    width: 8px;
    height: 8px;
    transition: 0.23s;
  }
  .reviews-section .swiper-pagination-bullet-active {
    width: 12px;
    height: 12px;
    opacity: 1;
  }
}

.features-section__wrapper {
  padding-top: 199.5px;
  padding-bottom: 172.5px;
  background-image: url("../assets/img/features-bg.png");
  background-repeat: no-repeat;
  background-position: right center;
}
.features-section__content {
  max-width: 443px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  gap: 32px;
}
.features-section__heading {
  font-size: 32px;
}
.features-section__list, .agency-section__list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
}
.features-section__subtext, .agency-section__subtext {
  text-align: center;
  color: #5f5f69;
  text-align: center;
  leading-trim: both;
  text-edge: cap;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (max-width: 960px) {
  .features-section__wrapper {
    padding-top: 64px;
    background-size: 40%;
  }
}
@media (max-width: 768px) {
  .features-section__wrapper {
    justify-content: center;
    padding-bottom: 440px;
    background-position: bottom center;
  }
}
@media (max-width: 675px) {
  .features-section__wrapper {
    padding-bottom: 340px;
  }
}

.agency-section__wrapper {
  justify-content: end;
  padding-top: 154.5px;
  padding-bottom: 184.5px;
  background-image: url("../assets/img/agencies-bg.png");
  background-repeat: no-repeat;
  background-position: left center;
}
.agency-section__content {
  max-width: 402px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  gap: 32px;
}
.agency-section__heading {
  font-size: 32px;
}
@media (max-width: 960px) {
  .agency-section__wrapper {
    padding-top: 64px;
    background-size: 40%;
  }
}
@media (max-width: 768px) {
  .agency-section__wrapper {
    justify-content: center;
    padding-bottom: 440px;
    background-position: bottom 32px center;
  }
}
@media (max-width: 675px) {
  .agency-section__wrapper {
    padding-bottom: 270px;
  }
}

.start-section {
  padding-top: 53px;
  padding-bottom: 69px;
  background-color: #f6f8fa;
}
.start-section__wrapper {
  max-width: 1017.5px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.start-section__heading {
  margin-bottom: 84px;
}
.start-section__roadmap {
  width: 100%;
  margin-bottom: 79px;
  display: grid;
  grid-template-columns: 32.63% 20.84% 18.28%;
  justify-content: space-between;
}
.start-section__roadmap-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.start-section__roadmap-item::after {
  content: "";
  width: 174.515px;
  height: 94.18px;
  position: absolute;
  right: -137px;
  top: -19px;
  background-image: url("../assets/svg/right-line-1.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.start-section__roadmap-item:nth-child(even)::after {
  top: unset;
  bottom: -77px;
  right: -150px;
  background-image: url("../assets/svg/right-line-2.svg");
}
.start-section__roadmap-item:last-child::after {
  display: none;
}
.start-section__roadmap-item-icon {
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 50.4px */
}
.start-section__roadmap-item-text {
  color: #070808;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.start-section__roadmap-item-text a {
  text-decoration: underline;
  transition: 0.23s;
}
.start-section__roadmap-item-text a:hover {
  text-decoration-color: transparent;
}
.start-section__roadmap-item-text a,
.start-section__roadmap-item-text span {
  color: #d64e52;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
@media (max-width: 960px) {
  .start-section__heading {
    text-align: center;
  }
  .start-section__roadmap {
    max-width: 410px;
    grid-template-rows: 32.63% 20.84% 18.28%;
    grid-template-columns: 1fr;
    gap: 64px;
  }
  .start-section__roadmap-item::after {
    right: -31px;
    top: 148px;
    width: 136.86px;
    height: 44.178px;
    transform: rotate(90deg);
  }
  .start-section__roadmap-item:nth-child(even)::after {
    right: unset;
    left: -65px;
  }
}
@media (max-width: 475px) {
  .start-section__roadmap {
    justify-items: center;
  }
  .start-section__roadmap-item {
    max-width: 200px;
  }
  .start-section__roadmap-item::after {
    right: -135px;
  }
  .start-section__roadmap-item:nth-child(even)::after {
    left: -110px;
  }
}
@media (max-width: 375px) {
  .start-section__roadmap-item::after {
    right: -117px;
  }
  .start-section__roadmap-item:nth-child(even)::after {
    left: -90px;
  }
}

.matter-section__wrapper {
  padding-top: 256px;
  padding-bottom: 256px;
  align-items: center;
  justify-content: start;
  background-image: url("../assets/img/matter-bg.png");
  background-repeat: no-repeat;
  background-position: right 152px center;
}
.matter-section__content {
  max-width: 383px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  gap: 16px;
}
.matter-section__text {
  max-width: 320px;
}
@media (max-width: 960px) {
  .matter-section__wrapper {
    background-position: right 32px center;
    background-size: 48%;
  }
}
@media (max-width: 768px) {
  .matter-section__wrapper {
    background-position: right center;
    background-size: 36%;
  }
}
@media (max-width: 675px) {
  .matter-section__wrapper {
    padding-top: 67px;
    padding-bottom: 365px;
    justify-content: center;
    background-position: bottom center;
    background-size: 50%;
  }
}

.only-section {
  padding-top: 86.03px;
  padding-bottom: 70.94px;
  background: #f6f8fa;
  background-image: url("../assets/img/gradient-line-2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.only-section__wrapper {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.only-section__heading {
  color: #ffffff;
  margin-bottom: 12px;
}
.only-section__heading span {
  display: inline-block;
  padding: 4px 16px;
  border-radius: 83.333px;
  background: #ffffff;
}
.only-section__text {
  color: #ffffff;
  margin-bottom: 42px;
}

.questions-section {
  padding-top: 59px;
  padding-bottom: 68px;
}
.questions-section__wrapper {
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}
.questions-section__list {
  width: 100%;
  padding: 24px 32px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  gap: 24px;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 3;
  display: flex;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.2);
  transition: 0.23s;
  opacity: 0;
  visibility: hidden;
  padding: 16px;
}
.overlay.active {
  opacity: 1;
  visibility: visible;
}/*# sourceMappingURL=index.css.map */